using System;
using Timba.Cards;

public class {{ className }} : CardBehaviour
{
    public int[] Parameters { get; set; }

    /// <summary>
    /// Implements this effect behaviour
    /// </summary>
    public void Execute(Card card, object[] targets) {
		
    }

	public string Description {
        get {
            // Implement the description of this behaviour here
			return "Deals 777 damage or something";
        }
    }
}
